# Preparing to play

This notebook has my work towards an implementation of the play function in play.py

Initial imports

In [1]:
import pandas as pd
import numpy as np
from processing import *

Get Jeopardy data and preprocess it

In [2]:
jeopardy_data = pd.read_csv("jeopardy.csv")
preprocess(jeopardy_data)

Ensure each category has 5 or more questions, and pick 7 random categories out of those available.

In [58]:
categories = jeopardy_data.category
categories = categories.value_counts().apply( \
    lambda c: True if c >= 5 else False)
categories = categories.sample(7)
categories

MITCH McCONNELL'S KENTUCKY MEGAMIX    True
ESPN's TOP 10 ALL-TIME ATHLETES       True
BIBLICAL QUOTES                       True
THE SCIENCE OF SOUND                  True
MYTHOLOGY BOOKS & AUTHORS             True
A NEBRASKA CORNHUSKER, OR...          True
DANGEROUS!                            True
Name: category, dtype: bool

Get 5 questions for the available categories

In [69]:
questions = jeopardy_data[jeopardy_data.category.apply( \
    lambda c: categories[c] if c in categories else False)]
category_question_count = {}
def incr(key):
    category_question_count.setdefault(key, 0)
    category_question_count[key] += 1
    return category_question_count[key] <= 5
questions = questions[questions.category.apply(incr)].reset_index(drop=True)
questions

,show_number,air_date,round,category,value,question,answer,value_float,air_year
0,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,200.0,2004
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$400,"No. 8: 30 steals for the Birmingham Barons; 2,...",Michael Jordan,400.0,2004
2,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$600,"No. 1: Lettered in hoops, football & lacrosse ...",Jim Brown,600.0,2004
3,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$800,No. 10: FB/LB for Columbia U. in the 1920s; MV...,(Lou) Gehrig,800.0,2004
4,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$1000,No. 5: Only center to lead the NBA in assists;...,(Wilt) Chamberlain,1000.0,2004
5,5624,2009-02-05,Jeopardy!,BIBLICAL QUOTES,$200,"She commanded Samson, ""Tell me, I pray thee, w...",Delilah,200.0,2009
6,5624,2009-02-05,Jeopardy!,BIBLICAL QUOTES,$400,This disciple wouldn't believe Jesus' resurrec...,Thomas,400.0,2009
7,5624,2009-02-05,Jeopardy!,BIBLICAL QUOTES,$600,In Exodus Moses & Aaron inform pharaoh that th...,"""Let my people go""",600.0,2009
8,5624,2009-02-05,Jeopardy!,BIBLICAL QUOTES,"$1,000","Herod thought that Jesus was this man ""whom I ...",John the Baptist,1000.0,2009
9,5624,2009-02-05,Jeopardy!,BIBLICAL QUOTES,$1000,"In Proverbs this king writes, ""The fear of the...",Solomon,1000.0,2009
10,5234,2007-05-17,Double Jeopardy!,THE SCIENCE OF SOUND,$400,"<a href=""http://www.j-archive.com/media/2007-0...",land mines,400.0,2007
11,5234,2007-05-17,Double Jeopardy!,THE SCIENCE OF SOUND,$800,"""Wood"" you like to name this, the quality of v...",timbre,800.0,2007
12,5234,2007-05-17,Double Jeopardy!,THE SCIENCE OF SOUND,$1200,"<a href=""http://www.j-archive.com/media/2007-0...",turbulence,1200.0,2007
13,5234,2007-05-17,Double Jeopardy!,THE SCIENCE OF SOUND,$1600,"In concert hall acoustics, it's the opposite o...",absorption,1600.0,2007
14,5234,2007-05-17,Double Jeopardy!,THE SCIENCE OF SOUND,$2000,"<a href=""http://www.j-archive.com/media/2007-0...",infrasound,2000.0,2007
15,4826,2005-09-12,Jeopardy!,"A NEBRASKA CORNHUSKER, OR...",$200,Former Husker head coach & now Congressman Tom...,Osborne,200.0,2005
16,4826,2005-09-12,Jeopardy!,"A NEBRASKA CORNHUSKER, OR...",$400,"'70s Heisman-winning RB Johnny, or Broadway co...",Rodgers,400.0,2005
17,4826,2005-09-12,Jeopardy!,"A NEBRASKA CORNHUSKER, OR...",$600,"QB of Nebraska's all-century team Tommie, or b...",Frazier,600.0,2005
18,4826,2005-09-12,Jeopardy!,"A NEBRASKA CORNHUSKER, OR...",$800,"Fleet-footed RB Ahman, or sweet-voiced Rev. Al",Green,800.0,2005
19,4826,2005-09-12,Jeopardy!,"A NEBRASKA CORNHUSKER, OR...",$1000,"Poetry in motion '90s QB Scott, or poetry in e...",Frost,1000.0,2005
20,5974,2010-07-29,Jeopardy!,MITCH McCONNELL'S KENTUCKY MEGAMIX,$200,"Though Alabama-born, senator Mitch McConnell i...",Bowling Green,200.0,2010
21,5974,2010-07-29,Jeopardy!,MITCH McCONNELL'S KENTUCKY MEGAMIX,$400,In 1786 the Virginia legislature established t...,Frankfort,400.0,2010
22,5974,2010-07-29,Jeopardy!,MITCH McCONNELL'S KENTUCKY MEGAMIX,$600,"It's believed Stephen Foster wrote this, now K...","""My Old Kentucky Home""",600.0,2010
23,5974,2010-07-29,Jeopardy!,MITCH McCONNELL'S KENTUCKY MEGAMIX,"$1,500",This 981-mile river forms Kentucky's northern ...,the Ohio,1500.0,2010
24,5974,2010-07-29,Jeopardy!,MITCH McCONNELL'S KENTUCKY MEGAMIX,$1000,"Founded in 1775, this city, home to Transylvan...",Lexington,1000.0,2010
25,2048,1993-06-30,Double Jeopardy!,MYTHOLOGY BOOKS & AUTHORS,$200,"In the 6th century B.C., Greeks used his ""Ilia...",Homer,200.0,1993
26,2048,1993-06-30,Double Jeopardy!,MYTHOLOGY BOOKS & AUTHORS,$400,"Bullfinch's ""Mythology"" includes ""The Age of F...",Chivalry,400.0,1993
27,2048,1993-06-30,Double Jeopardy!,MYTHOLOGY BOOKS & AUTHORS,$600,In an essay Albert Camus compared the human co...,Sisyphus,600.0,1993
28,2048,1993-06-30,Double Jeopardy!,MYTHOLOGY BOOKS & AUTHORS,$800,Bill Moyers' conversations with him were publi...,(Joseph) Campbell,800.0,1993
29,2048,1993-06-30,Double Jeopardy!,MYTHOLOGY BOOKS & AUTHORS,$1000,"This ""I, Claudius"" author later set his eye on...",(Robert) Graves,1000.0,1993
30,4579,2004-07-01,Jeopardy!,DANGEROUS!,$200,"On February 28, 2001 northwest Washington Stat...",an earthquake,200.0,2004
31,4579,2004-07-01,Jeopardy!,DANGEROUS!,$400,In 1953 meteorologists began assigning female ...,hurricanes,400.0,2004
32,4579,2004-07-01,Jeopardy!,DANGEROUS!,$600,"The ""El Nino"" ' phenomenon of this ocean cause...",the Pacific,600.0,2004
33,4579,2004-07-01,Jeopardy!,DANGEROUS!,$800,It's a suddenly formed large depression in the...,a sinkhole,800.0,2004
34,4579,2004-07-01,Jeopardy!,DANGEROUS!,$1000,The record for a single snowstorm was 189 inch...,Mount Shasta,1000.0,2004