# Preparing to play

This notebook has my work towards an implementation of the play function in play.py

Initial imports

In [21]:
import pandas as pd
import numpy as np
from processing import *

Get Jeopardy data and preprocess it

In [22]:
jeopardy_data = pd.read_csv("jeopardy.csv")
preprocess(jeopardy_data)

Ensure each category has 5 or more questions, and pick 7 random categories out of those available.

In [23]:
# Makes it easier to change the variables later
categories_to_show = 7
min_questions = 5

In [24]:
categories = jeopardy_data.category
categories = categories.value_counts().apply( \
    lambda c: True if c >= min_questions else False)
categories = categories.sample(categories_to_show)
categories

MUTILATED ART                True
THE FEMALE OF THE SPECIES    True
"TABLE"S                     True
"A" & "E"                    True
SINGULAR NAMES               True
I ♥ NY                       True
LYNDON JOHNSON               True
Name: category, dtype: bool

Get 5 questions for the available categories

In [25]:
questions = jeopardy_data[jeopardy_data.category.apply( \
    lambda c: categories[c] if c in categories else False)]
category_question_count = {}
def incr(key):
    category_question_count.setdefault(key, 0)
    category_question_count[key] += 1
    return category_question_count[key] <= 5
questions = questions[questions.category.apply(incr)].reset_index(drop=True)
questions

,show_number,air_date,round,category,value,question,answer,value_float,air_year
0,1274,1990-03-01,Jeopardy!,"""TABLE""S",$100,Ping-Pong,Table Tennis,100.0,1990
1,1274,1990-03-01,Jeopardy!,"""TABLE""S",$200,A menu for the subject matter of a book usuall...,Table of Contents,200.0,1990
2,1274,1990-03-01,Jeopardy!,"""TABLE""S",$300,Moving around a restaurant to hobnob & exchang...,Table Hopping,300.0,1990
3,1274,1990-03-01,Jeopardy!,"""TABLE""S",$400,To reverse the situation & gain the upper hand,Turn the Tables,400.0,1990
4,1274,1990-03-01,Jeopardy!,"""TABLE""S",$500,If you can still walk while your buddy is fall...,Drink him under the table,500.0,1990
5,2806,1996-11-11,Jeopardy!,THE FEMALE OF THE SPECIES,$100,This name for a female sheep comes from a Lati...,ewe,100.0,1996
6,2806,1996-11-11,Jeopardy!,THE FEMALE OF THE SPECIES,$200,We bet you a buck you know this is a female deer,a doe,200.0,1996
7,2806,1996-11-11,Jeopardy!,THE FEMALE OF THE SPECIES,$300,"If you be a female bee, you be one of these",a queen,300.0,1996
8,2806,1996-11-11,Jeopardy!,THE FEMALE OF THE SPECIES,$400,"Female moose, whales & elephants are known by ...",a cow,400.0,1996
9,2806,1996-11-11,Jeopardy!,THE FEMALE OF THE SPECIES,$500,"A female red fox isn't a comedian, but one of ...",a vixen,500.0,1996
10,2595,1995-12-08,Jeopardy!,I ♥ NY,$100,There's a statue of Poland's King Jagiello bes...,Central Park,100.0,1995
11,2595,1995-12-08,Jeopardy!,I ♥ NY,$200,This Fifth Avenue cathedral's twin spires soar...,St. Patrick's,200.0,1995
12,2595,1995-12-08,Jeopardy!,I ♥ NY,$300,Gilded crowns adorn the gates of this universi...,Columbia,300.0,1995
13,2595,1995-12-08,Jeopardy!,I ♥ NY,$400,The Oyster Bar in this famous terminal opened ...,Grand Central,400.0,1995
14,2595,1995-12-08,Jeopardy!,I ♥ NY,$500,A concert hall in this theatre complex is name...,Lincoln Center,500.0,1995
15,3332,1999-02-16,Jeopardy!,"""A"" & ""E""",$100,"In a famous title, Irving Stone paired it with...",Ecstasy,100.0,1999
16,3332,1999-02-16,Jeopardy!,"""A"" & ""E""",$200,The part of an atom that orbits around the nuc...,Electron,200.0,1999
17,3332,1999-02-16,Jeopardy!,"""A"" & ""E""",$300,Elands are grouped among these hoofed animals,Antelopes,300.0,1999
18,3332,1999-02-16,Jeopardy!,"""A"" & ""E""",$400,Ocean in which you'd find Ellesmere Island,Arctic Ocean,400.0,1999
19,3332,1999-02-16,Jeopardy!,"""A"" & ""E""",$500,City & country in which the dynasty of the Pto...,"Alexandria, Egypt",500.0,1999
20,3368,1999-04-07,Double Jeopardy!,SINGULAR NAMES,$200,"Dropping the ""S"" from the last name of a TV Su...",(Christopher) Reeve,200.0,1999
21,3368,1999-04-07,Double Jeopardy!,SINGULAR NAMES,$400,"Correct name, with no possessive ""S"", of the c...",Jack Daniel,400.0,1999
22,3368,1999-04-07,Double Jeopardy!,SINGULAR NAMES,$600,"One swallow does not make this ""Hot Stuff"" dis...",Donna Summer,600.0,1999
23,3368,1999-04-07,Double Jeopardy!,SINGULAR NAMES,$800,"This ""Principle""d author wrote a 1969 bestsell...",Laurence Peter,800.0,1999
24,3368,1999-04-07,Double Jeopardy!,SINGULAR NAMES,$1000,"James, father of this British thinker, made hi...",John Stuart Mill,1000.0,1999
25,5148,2007-01-17,Double Jeopardy!,MUTILATED ART,$400,In 1972 a hammer-wielding man smashed Mary's n...,the Pieta,400.0,2007
26,5148,2007-01-17,Double Jeopardy!,MUTILATED ART,$800,A marble hand holding an apple was found on Me...,the Venus de Milo,800.0,2007
27,5148,2007-01-17,Double Jeopardy!,MUTILATED ART,$1200,In Paris you can see this sculptor's 1901 <a h...,Auguste Rodin,1200.0,2007
28,5148,2007-01-17,Double Jeopardy!,MUTILATED ART,$1600,"In the sculpture seen <a href=""http://www.j-ar...",Perseus,1600.0,2007
29,5148,2007-01-17,Double Jeopardy!,MUTILATED ART,$2000,"Seen <a href=""http://www.j-archive.com/media/2...",Samothrace,2000.0,2007
30,6178,2011-06-22,Jeopardy!,LYNDON JOHNSON,$200,This man served as LBJ's vice president,(Hubert) Humphrey,200.0,2011
31,6178,2011-06-22,Jeopardy!,LYNDON JOHNSON,$400,During his tenure LBJ appointed this first Afr...,Thurgood Marshall,400.0,2011
32,6178,2011-06-22,Jeopardy!,LYNDON JOHNSON,$600,Less than a year after taking office as presid...,Goldwater,600.0,2011
33,6178,2011-06-22,Jeopardy!,LYNDON JOHNSON,"$2,000",In 1955 LBJ became the youngest Democrat ever ...,Senate Majority leader,2000.0,2011
34,6178,2011-06-22,Jeopardy!,LYNDON JOHNSON,$1000,"Early on, LBJ won a primary by a mere 87 votes...","""Landslide Lyndon""",1000.0,2011

Print out the categories and money values for each question in the category

In [30]:
# Terminals are typically 80 characters wide
view_width = 80
cell_width, expanded_cells = divmod(view_width, categories_to_show)
cell_width -= 1  # Add space for a pipe character

longest_category = max(categories.keys(), key=len)
lines, extra_line = divmod(len(longest_category), cell_width)
if extra_line > 0:
    lines += 1

for line in range(lines):
    extender = expanded_cells
    for col in categories.keys():
        start = line * cell_width
        end = start + cell_width
        print("{:^10}|".format(col[start:end]), sep="", end="")
        if extender > 0:
            print(" ", end="")
            extender -= 1
    print()
print("-" * view_width)

MUTILATED | THE FEMALE|  "TABLE"S | "A" & "E" |SINGULAR N|  I ♥ NY  |LYNDON JOH|
   ART    |  OF THE SP|           |           |   AMES   |          |   NSON   |
          |   ECIES   |           |           |          |          |          |
--------------------------------------------------------------------------------