# Preparing to play

This notebook has my work towards an implementation of the play function in play.py

Initial imports

In [44]:
import pandas as pd
import numpy as np
from processing import *

Get Jeopardy data and preprocess it

In [45]:
jeopardy_data = pd.read_csv("jeopardy.csv")
preprocess(jeopardy_data)

Ensure each category has 5 or more questions, and pick 7 random categories out of those available.

In [46]:
# Makes it easier to change the variables later
categories_to_show = 7
min_questions = 5

In [48]:
categories = jeopardy_data.category
categories = categories.value_counts().apply( \
    lambda c: c >= min_questions)
categories = categories[categories == True]
categories = categories.sample(categories_to_show)
categories = categories.index
categories

Index(['CNN 25: INTERNATIONAL NEWS', 'LET ME TAKE YOU DOWN',
       'AUTHORS BEFORE & AFTER', 'MGM WOULD HAVE CHANGED YOUR NAME',
       'NAME THAT REBELLION', 'MEDICAL PIONEERS', 'ON THE FLY'],
      dtype='object')

Get 5 questions for the available categories

In [49]:
questions = jeopardy_data[jeopardy_data.category.apply( \
    lambda c: c in categories)]
category_question_count = {}
def incr(key):
    category_question_count.setdefault(key, 0)
    category_question_count[key] += 1
    return category_question_count[key] <= 5
questions = questions[questions.category.apply(incr)].reset_index(drop=True)
questions

,show_number,air_date,round,category,value,question,answer,value_float,air_year
0,6128,2011-04-13,Jeopardy!,MGM WOULD HAVE CHANGED YOUR NAME,$200,Emil & Kjellfrid were the parents of this actr...,Ren√©e Zellweger,200.0,2011
1,6128,2011-04-13,Jeopardy!,MGM WOULD HAVE CHANGED YOUR NAME,$400,Yvonne Strahovski plays a CIA agent on this TV...,Chuck,400.0,2011
2,6128,2011-04-13,Jeopardy!,MGM WOULD HAVE CHANGED YOUR NAME,$600,"This ""30 Rock"" actress changed her own name--i...",Jane Krakowski,600.0,2011
3,6128,2011-04-13,Jeopardy!,MGM WOULD HAVE CHANGED YOUR NAME,$800,"This singer/model ""Fifth Element"" star wants y...",Milla Jovovich,800.0,2011
4,6128,2011-04-13,Jeopardy!,MGM WOULD HAVE CHANGED YOUR NAME,$1000,This actress whose dad is from Senegal followe...,Gabourey Sidibe,1000.0,2011
5,4921,2006-01-23,Double Jeopardy!,MEDICAL PIONEERS,$400,"Life-changing & yummy too, the oral polio vacc...",Albert Sabin,400.0,2006
6,4921,2006-01-23,Double Jeopardy!,MEDICAL PIONEERS,$800,In 1901 this army surgeon who later had a D.C....,Walter Reed,800.0,2006
7,4921,2006-01-23,Double Jeopardy!,MEDICAL PIONEERS,$1200,This Italian anatomist's career went down the ...,Fallopius (or Gabriello Fallopio),1200.0,2006
8,4921,2006-01-23,Double Jeopardy!,MEDICAL PIONEERS,$1600,"His 1543 landmark work on anatomy, ""De Humani ...",Vesalius,1600.0,2006
9,4921,2006-01-23,Double Jeopardy!,MEDICAL PIONEERS,$2000,In 1949 the American Medical Women's Assoc. na...,Elizabeth Blackwell,2000.0,2006
10,3832,2001-04-10,Jeopardy!,ON THE FLY,$100,"On the housefly, these are large, compound & c...",Eyes,100.0,2001
11,3832,2001-04-10,Jeopardy!,ON THE FLY,$200,"Like most insects, all flies are divided into ...",Head,200.0,2001
12,3832,2001-04-10,Jeopardy!,ON THE FLY,$300,"Of major insect groups, flies are the only one...",Wings,300.0,2001
13,3832,2001-04-10,Jeopardy!,ON THE FLY,$400,"From the Spanish for ""little fly"", this fly va...",Mosquito,400.0,2001
14,3832,2001-04-10,Jeopardy!,ON THE FLY,$500,"These large, speedy biting flies with an anima...",Horseflies,500.0,2001
15,6208,2011-09-21,Double Jeopardy!,NAME THAT REBELLION,$400,"China, 1900: ""Fighters"" versus foreigners & Ch...",the Boxer Rebellion,400.0,2011
16,6208,2011-09-21,Double Jeopardy!,NAME THAT REBELLION,$800,"Pennsylvania, 1794: The feds versus farmers ov...",the Whiskey Rebellion,800.0,2011
17,6208,2011-09-21,Double Jeopardy!,NAME THAT REBELLION,$1200,"Ulster & Wexford, 1798: One of many called by ...",Irish,1200.0,2011
18,6208,2011-09-21,Double Jeopardy!,NAME THAT REBELLION,$1600,"Virginia, 1676: A ""hammy"" colonist & his follo...",Bacon's Rebellion,1600.0,2011
19,6208,2011-09-21,Double Jeopardy!,NAME THAT REBELLION,$2000,"New England, 1786-87: A former soldier & 1,200...",Shays' Rebellion,2000.0,2011
20,5714,2009-06-11,Jeopardy!,LET ME TAKE YOU DOWN,$200,In 1959 this Cuban led the overthrow of the mi...,Fidel Castro,200.0,2009
21,5714,2009-06-11,Jeopardy!,LET ME TAKE YOU DOWN,$400,"Grolier says this man ""contributed directly to...",Rasputin,400.0,2009
22,5714,2009-06-11,Jeopardy!,LET ME TAKE YOU DOWN,$600,"Under this nickname, W. Mark Felt leaked info ...","""Deep Throat""",600.0,2009
23,5714,2009-06-11,Jeopardy!,LET ME TAKE YOU DOWN,$800,In 1996 this Russian chess champ bested an IBM...,Kasparov,800.0,2009
24,5714,2009-06-11,Jeopardy!,LET ME TAKE YOU DOWN,$1000,"On June 20, 1947 this gangster found out exact...",Bugsy Siegel,1000.0,2009
25,4774,2005-05-12,Jeopardy!,CNN 25: INTERNATIONAL NEWS,$200,"In 1989, one lone <a href=""http://www.j-archiv...",Tiananmen Square,200.0,2005
26,4774,2005-05-12,Jeopardy!,CNN 25: INTERNATIONAL NEWS,$400,"(<a href=""http://www.j-archive.com/media/2005-...",Kabul,400.0,2005
27,4774,2005-05-12,Jeopardy!,CNN 25: INTERNATIONAL NEWS,$600,"In 1997, we said ""hello"" to <a href=""http://ww...",Dolly,600.0,2005
28,4774,2005-05-12,Jeopardy!,CNN 25: INTERNATIONAL NEWS,$800,"Held hostage in Lebanon, <a href=""http://www.j...",Terry Anderson,800.0,2005
29,4774,2005-05-12,Jeopardy!,CNN 25: INTERNATIONAL NEWS,$1000,"Tragically in 1995, more than 200 people died ...",Zaire,1000.0,2005
30,4621,2004-10-11,Double Jeopardy!,AUTHORS BEFORE & AFTER,$400,"After tackling the meat-packing industry in ""T...",Upton Sinclair Lewis,400.0,2004
31,4621,2004-10-11,Double Jeopardy!,AUTHORS BEFORE & AFTER,$800,"Author whose ""Portrait of a Lady"" was followed...",Henry James Joyce,800.0,2004
32,4621,2004-10-11,Double Jeopardy!,AUTHORS BEFORE & AFTER,$1200,"""Fern Hill"" poet who won the 1929 Nobel Prize ...",Dylan Thomas Mann,1200.0,2004
33,4621,2004-10-11,Double Jeopardy!,AUTHORS BEFORE & AFTER,$1600,"Late TV host & ""How to Be Funny"" author who he...",Steve Allen Ginsberg,1600.0,2004
34,4621,2004-10-11,Double Jeopardy!,AUTHORS BEFORE & AFTER,$2000,"Crime novelist who wrote ""The Big Bounce"", com...",Elmore Leonard Cohen,2000.0,2004

Print out the categories and money values for each question in the category

In [50]:
# Terminals are typically 80 characters wide
view_width = 80
cell_width, expanded_cells = divmod(view_width, categories_to_show)
cell_width -= 1  # Add space for a pipe character
cell_template_str = "{{:^{}}}|"
cell_format_str = cell_template_str.format(cell_width)

In [51]:
longest_category = max(categories, key=len)
lines, extra_line = divmod(len(longest_category), cell_width)
if extra_line > 0:
    lines += 1

for line in range(lines):
    extender = expanded_cells
    for col in categories:
        start = line * cell_width
        end = start + cell_width
        print(cell_format_str.format(col[start:end]), sep="", end="")
        if extender > 0:
            print(" ", end="")
            extender -= 1
    print()
print("-" * view_width)  # Separator between categories and monies

CNN 25: IN| LET ME TAK| AUTHORS BE| MGM WOULD |NAME THAT |MEDICAL PI|ON THE FLY|
TERNATIONA| E YOU DOWN| FORE & AFT| HAVE CHANG|REBELLION |  ONEERS  |          |
  L NEWS  |           |     ER    | ED YOUR NA|          |          |          |
          |           |           |     ME    |          |          |          |
--------------------------------------------------------------------------------

Print out the money values for each selected question

In [68]:
for row in range(min_questions):
    extender = expanded_cells
    for col in categories:
        money_value = questions.loc[questions.category == col].value.iloc[row]
        money_number = questions.loc[questions.category == col].value_float.iloc[row]
        print(cell_format_str.format(money_value), end="", sep="")
        if extender > 0:
            print(" ", end="")
            extender -= 1
    print("\n", "-" * view_width, sep="")

   $200   |    $200   |    $400   |    $200   |   $400   |   $400   |   $100   |
--------------------------------------------------------------------------------
   $400   |    $400   |    $800   |    $400   |   $800   |   $800   |   $200   |
--------------------------------------------------------------------------------
   $600   |    $600   |   $1200   |    $600   |  $1200   |  $1200   |   $300   |
--------------------------------------------------------------------------------
   $800   |    $800   |   $1600   |    $800   |  $1600   |  $1600   |   $400   |
--------------------------------------------------------------------------------
  $1000   |   $1000   |   $2000   |   $1000   |  $2000   |  $2000   |   $500   |
--------------------------------------------------------------------------------