# Preparing to play

This notebook has my work towards an implementation of the play function in play.py

Initial imports

In [2]:
import pandas as pd
import numpy as np
from processing import *

Get Jeopardy data and preprocess it

In [3]:
jeopardy_data = pd.read_csv("jeopardy.csv")
preprocess(jeopardy_data)

Ensure each category has 5 or more questions, and pick 7 random categories out of those available.

In [4]:
# Makes it easier to change the variables later
categories_to_show = 7
min_questions = 5

In [5]:
categories = jeopardy_data.category
categories = categories.value_counts().apply( \
    lambda c: True if c >= min_questions else False)
categories = categories.sample(categories_to_show)
categories

RESTAURANTS                        True
CAR TUNES                          True
CELEBRATED ON THEIR BIRTHDAYS      True
STAR TREK JARGON                   True
EUROPEAN ARTISTS                   True
THE LOVELY BONES                   True
A 5-CHAPTER STORY ABOUT STORIES    True
Name: category, dtype: bool

Get 5 questions for the available categories

In [6]:
questions = jeopardy_data[jeopardy_data.category.apply( \
    lambda c: categories[c] if c in categories else False)]
category_question_count = {}
def incr(key):
    category_question_count.setdefault(key, 0)
    category_question_count[key] += 1
    return category_question_count[key] <= 5
questions = questions[questions.category.apply(incr)].reset_index(drop=True)
questions

,show_number,air_date,round,category,value,question,answer,value_float,air_year
0,4300,2003-04-18,Jeopardy!,CAR TUNES,$200,"In 1984 Sammy Hagar sang, ""Write me up a 125, ...",55,200.0,2003
1,4300,2003-04-18,Jeopardy!,CAR TUNES,$400,Prince drove this tiny title auto to No. 6 in ...,"""Little Red Corvette""",400.0,2003
2,4300,2003-04-18,Jeopardy!,CAR TUNES,$600,"This ""Little"" Beach Boys vehicle can ""do a hun...","""Little Deuce Coupe""",600.0,2003
3,4300,2003-04-18,Jeopardy!,CAR TUNES,$800,(Cheryl of the Clue Crew at the Henry Ford Mus...,LaSalle,800.0,2003
4,4300,2003-04-18,Jeopardy!,CAR TUNES,$1000,In 1976 Rose Royce did the dirty work & went t...,"""Car Wash""",1000.0,2003
5,6197,2011-07-19,Jeopardy!,CELEBRATED ON THEIR BIRTHDAYS,$200,"National Inventors Day, February 11",Thomas Edison,200.0,2011
6,6197,2011-07-19,Jeopardy!,CELEBRATED ON THEIR BIRTHDAYS,$400,"International Nurses Day, May 12",(Florence) Nightingale,400.0,2011
7,6197,2011-07-19,Jeopardy!,CELEBRATED ON THEIR BIRTHDAYS,$600,"Arbor Day in California, March 7",Luther Burbank,600.0,2011
8,6197,2011-07-19,Jeopardy!,CELEBRATED ON THEIR BIRTHDAYS,$800,"American Painters Day, February 3",Norman Rockwell,800.0,2011
9,6197,2011-07-19,Jeopardy!,CELEBRATED ON THEIR BIRTHDAYS,$1000,"Peter Pan Day, May 9",J.M. Barrie,1000.0,2011
10,5144,2007-01-11,Double Jeopardy!,A 5-CHAPTER STORY ABOUT STORIES,$400,Ch. 1: This Russian title boy meets girl (Lara),Doctor Zhivago,400.0,2007
11,5144,2007-01-11,Double Jeopardy!,A 5-CHAPTER STORY ABOUT STORIES,$800,Ch. 2: Rich boy (Oliver) falls for poor girl (...,Love Story,800.0,2007
12,5144,2007-01-11,Double Jeopardy!,A 5-CHAPTER STORY ABOUT STORIES,$1200,"Ch. 3: Boy & girl have a family (well, an imag...",Who's Afraid of Virginia Woolf?,1200.0,2007
13,5144,2007-01-11,Double Jeopardy!,A 5-CHAPTER STORY ABOUT STORIES,"$3,000",Ch. 4: Boy poet loses this title girl when kin...,Annabel Lee,3000.0,2007
14,5144,2007-01-11,Double Jeopardy!,A 5-CHAPTER STORY ABOUT STORIES,$2000,Ch. 5: This 1819 title boy gets girl (Rowena) ...,Ivanhoe,2000.0,2007
15,5927,2010-05-25,Double Jeopardy!,EUROPEAN ARTISTS,$400,In 1891 he held an auction of his paintings to...,Paul Gauguin,400.0,2010
16,5927,2010-05-25,Double Jeopardy!,EUROPEAN ARTISTS,$800,"Born in 1758, John Hoppner was rumored to be t...",George III,800.0,2010
17,5927,2010-05-25,Double Jeopardy!,EUROPEAN ARTISTS,$1200,"This Fauvist's wife Amelie, who posed for his ...",Henri Matisse,1200.0,2010
18,5927,2010-05-25,Double Jeopardy!,EUROPEAN ARTISTS,$1600,"This Cretan's 1582 work ""Martyrdom of St. Maur...",El Greco,1600.0,2010
19,5927,2010-05-25,Double Jeopardy!,EUROPEAN ARTISTS,$2000,"The cadaver in his ""The Anatomy Lesson of Dr. ...",Rembrandt,2000.0,2010
20,5422,2008-03-18,Double Jeopardy!,THE LOVELY BONES,$400,The lacrimal bones contain sacs that collect e...,tears,400.0,2008
21,5422,2008-03-18,Double Jeopardy!,THE LOVELY BONES,$800,"These bones are classified as true, false, & f...",ribs,800.0,2008
22,5422,2008-03-18,Double Jeopardy!,THE LOVELY BONES,$1200,"The stapes, the smallest bone in the human bod...",the ear,1200.0,2008
23,5422,2008-03-18,Double Jeopardy!,THE LOVELY BONES,$1600,"(<a href=""http://www.j-archive.com/media/2008-...",the coccyx,1600.0,2008
24,5422,2008-03-18,Double Jeopardy!,THE LOVELY BONES,$2000,This long slender bone is parallel and latera...,the fibula,2000.0,2008
25,5054,2006-07-27,Jeopardy!,RESTAURANTS,$200,An inexpensive establishment of dubious hygien...,a spoon,200.0,2006
26,5054,2006-07-27,Jeopardy!,RESTAURANTS,$400,"If Giuseppe is a trattore, or restaurateur, th...",a trattoria,400.0,2006
27,5054,2006-07-27,Jeopardy!,RESTAURANTS,$600,"At a sushi bar, spice wimps should learn the w...",wasabi,600.0,2006
28,5054,2006-07-27,Jeopardy!,RESTAURANTS,$800,Buca dell'Orafo is in the cellar of what was o...,Florence,800.0,2006
29,5054,2006-07-27,Jeopardy!,RESTAURANTS,$1000,"When Hiltl opened in Zurich in 1898, its custo...",a vegetarian restaurant,1000.0,2006
30,5356,2007-12-17,Jeopardy!,STAR TREK JARGON,$200,The type-2 of this weapon had a max power sett...,a phaser,200.0,2007
31,5356,2007-12-17,Jeopardy!,STAR TREK JARGON,$400,This Star Fleet missive prohibits interference...,the Prime Directive,400.0,2007
32,5356,2007-12-17,Jeopardy!,STAR TREK JARGON,$600,This device briefly converts a person to energ...,a transporter,600.0,2007
33,5356,2007-12-17,Jeopardy!,STAR TREK JARGON,$800,When Spock checks chronometric data he's looki...,time,800.0,2007
34,5356,2007-12-17,Jeopardy!,STAR TREK JARGON,$1000,This crystal regulates matter/antimatter react...,dilithium,1000.0,2007

Print out the categories and money values for each question in the category

In [11]:
# Terminals are typically 80 characters wide
view_width = 80
cell_width, expanded_cells = divmod(view_width, categories_to_show)
cell_width -= 1  # Add space for a pipe character
cell_template_str = "{{:^{}}}|"
cell_format_str = cell_template_str.format(cell_width)

In [12]:
longest_category = max(categories.keys(), key=len)
lines, extra_line = divmod(len(longest_category), cell_width)
if extra_line > 0:
    lines += 1

for line in range(lines):
    extender = expanded_cells
    for col in categories.keys():
        start = line * cell_width
        end = start + cell_width
        print(cell_format_str.format(col[start:end]), sep="", end="")
        if extender > 0:
            print(" ", end="")
            extender -= 1
    print()
print("-" * view_width)  # Separator between categories and monies

RESTAURANT| CAR TUNES | CELEBRATED| STAR TREK |EUROPEAN A|THE LOVELY|A 5-CHAPTE|
    S     |           |  ON THEIR |   JARGON  |  RTISTS  |   BONES  |R STORY AB|
          |           | BIRTHDAYS |           |          |          |OUT STORIE|
          |           |           |           |          |          |    S     |
--------------------------------------------------------------------------------

Print out the money values for each selected question

In [15]:
for row in range(min_questions):
    extender = expanded_cells
    for col in range(categories_to_show):
        money_value = "${}".format((row + 1) * 100)  # Replace with actual value
        print(cell_format_str.format(money_value), end="", sep="")
        if extender > 0:
            print(" ", end="")
            extender -= 1
    print("\n", "-" * view_width, sep="")

   $100   |    $100   |    $100   |    $100   |   $100   |   $100   |   $100   |
--------------------------------------------------------------------------------
   $200   |    $200   |    $200   |    $200   |   $200   |   $200   |   $200   |
--------------------------------------------------------------------------------
   $300   |    $300   |    $300   |    $300   |   $300   |   $300   |   $300   |
--------------------------------------------------------------------------------
   $400   |    $400   |    $400   |    $400   |   $400   |   $400   |   $400   |
--------------------------------------------------------------------------------
   $500   |    $500   |    $500   |    $500   |   $500   |   $500   |   $500   |
--------------------------------------------------------------------------------